*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#app{
    height: 100vh;
    width: 100%;

    background: linear-gradient(to bottom, #009688 0px, #009688 15vh,
    #dddbd1 15vh, #d2dbdc 100%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar{
    width: 50px;
    height: auto;
}


img{

    border-radius: 50%;
}
span{
    position: absolute;
}

main{
    height: 94%;
    width: 80%;
    background-color: red;
}

main section.userbar{
    width: 35%;
    background-color: #ffffff;
}

.user-profile > i{

    font-size: 25px;
    margin-right: 1.5rem;
    color: #B1B1B1;
}

.user-profile > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
    margin-left: .5rem;
    
}


section div.user-profile{
    height: 70px;
    background-color: #eaeaea;
    display: flex;
    justify-content: end;
    align-items: center;
    
}

ul,li{
    list-style-type: none;
    margin-left: 0.5rem;
}

section.userbar div.notifications{
    height: 80px;
    background-color: #8edafc;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.notifications > i{
    font-size: 35px;
    background-color: white;
    border-radius: 50%;
    margin-left: 1.5rem;

}

section.userbar div.searchbar{
    height: 60px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar > input{
    width: 100%;
    height: 30px;
    margin-left: .5rem;
    margin-right: .5rem;
}

section.userbar div.contacts{
    height: calc(100% - 210px);
    background-color: #ffffff;
    overflow: auto;
}

section.userbar div.contacts > article{
    width: 100%;
    padding: 1.5rem;
    border: solid 2px magenta;

}

main section.conversation-container{
    width: 65%;
    background-color: #eaeaea;
}

div.messages{
    height: calc(100% - 145px);
    background-image: url('../img/mine.jpg');
    padding: 2rem;
}

div.messages > article.message{
    padding: 1rem 1.25rem;
    border-radius: 1rem;
    margin: 0 2rem .8rem 2rem;
    background-color: #8edafc;
    clear: both;
}

div.messages > article.message.received{
    float: left;
    background-color: #ffffff;
    margin-right: 5rem;
}

div.messages > article.message.sent{
    float: right;
    background-color: #d5f9ba;
    margin-left: 5rem;
}

main section.conversation-container div.message-input{
    height: 75px;
    background-color: #f3eeea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-input > input{
    width: 80%;
    height: 35px;
}



.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.clearflix::after{
    display: block;
    clear: both;
    content:'';
}

